#wrapper {
  .main-menu {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .logo {
      position: absolute;
      top: 0;
      left: 12.0%;
  }
}

.title-form {
    width: 280px;
}

.container-calendar {
    width: 100%;
}
